<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--Name of the propery in the message to send to Azure IoT Hub with the date of the device where the message will be sent-->
    <add key="MessageCreationDateName" value="FechaCreacion"/>
    <!--Connection String of the Oracle Database  (is this versión the password is not encrypted, we are trusting in the security of the device)-->
    <add key="OracleConnectionString" value="Data Source=XXXX;Persist Security Info=True;User ID=YYYY;Password=ZZZZ;Unicode=True" />
    <!--Name of the file that have the SQL of the query to be requested to the Oracle database (this file must be in the same directory as this configuration file)-->
    <!--     the query must to have the paramenter :LastDate (View the query.sql example)-->
    <add key="QueryFile" value="query.sql" />    
    <!--Name of the column that will be referenced by :LastDate parameter-->
    <add key="LastDateColumn" value="FechaDB"/>
    <!--Time in milliseconds to wait until run again the query (ex. 60000 = every minute) -->
    <add key="MillisecondsToWait" value="60000"/>    
    <!--Update the json file with the initial DateTime when you want to get the data from the databse. (please do not remove the json file, only update it)-->
    <add key="LastDateFile" value="UltimaFecha.json" />
    <!--Name of the column in the query that have the name of the Device-->
    <add key="DeviceColumn" value="Dispositivo"/>
    <!--List of IoT Hub Devices Connection String-->
    <add key="DeviceX_IoTHubCS" value="HostName=AAAA;DeviceId=BBBB;SharedAccessKey=CCCC"/>
    <add key="DeviceY_IoTHubCS" value="HostName=DDDD;DeviceId=EEEE;SharedAccessKey=FFFF"/>
    <add key="DeviceZ_IoTHubCS" value="HostName=GGGG;DeviceId=HHHH;SharedAccessKey=IIII"/>
    <!--...incluide here the devices connection string needed...-->
    <!--End of List-->
  </appSettings>
</configuration>